[Desktop Entry]
Name=OpenROM
GenericName=ROM Converter
Comment=Universal ROM Compression Suite for retro gaming
Exec=openrom-wrapper.sh
Icon=io.github.M5Devs.OpenROM
Terminal=false
Type=Application
Categories=Utility;Game;
Keywords=ROM;CHD;ISO;PSP;PS1;PS2;GameCube;Wii;Xbox;retro;emulation;
StartupNotify=true
